<div>
  <h1>Hello!</h1>
  <div>{{ some$ | async }}</div>

  <button (click)="getStation()">Get stations</button>

  <button (click)="getRoute()">Get routes</button>

  <button (click)="search()">Search</button>
  <button (click)="carriage()">Carriage</button>
  <button (click)="orders()">Orders</button>
  <button (click)="postOrders()">Make order</button>

  <button (click)="signup()">Register User</button>

  <button (click)="signin()">Login User</button>

  <button (click)="create()">Create Station</button>
  <button (click)="login()">Login</button>
  <button (click)="profile()">Profile</button>
</div>
<router-outlet />
